.body-header{
  background-color: rgb(251, 251, 251);
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom-width: 1px;
  /* border-bottom-style: solid; */
  /* border-bottom-color: rgba(204, 196, 196, 0.943); */
  z-index: 10;
}

.left-head{
  /* background-color: lightcyan; */
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.youtube-logo{
  height: 20px;
}

.middle-head{
  /* background-color: green; */
  max-width: 500px;
  flex: 1;
  margin-left: 50px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.search-bar{
  flex: 1;
  width: 0;
  height: 29px;
  padding-left: 10px;
  font-size: 15px;
  border-width: 1px;
  border-radius: 2px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  box-shadow: inset 1px 2px 2px rgba(0, 0, 0, 0.05);
}

.search-bar:focus {
  /* border: 1px solid rgb(191, 187, 187);  */
  outline: none;
}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 15px;
}

.search-button{
  width: 65px;
  height: 32px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
}

.search-icon{
  height: 24px;
  margin-top: 1px;
}

.voice-search{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  /* display: flex;
  align-items: center; */
  border: none;
  background-color: rgb(251, 246, 246);
}

.voice-icon{
  height: 22px;
  /* margin-left: 1px; */
}

.right-head{
  /* background-color: lightgray; */
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.yt-apps-icon{
  height: 24px;
}

.notifications-box{
  position: relative;
}

.notifications-icon{
  height: 24px;
}

.notifications{
  position: absolute;
  width: 11px;
  font-family: Roboto, Arial;
  font-weight: 500;
  font-size: 9px;
  text-align: center;
  background-color: rgb(171, 0, 0);
  color: white;
  top: -1px;
  right: -2px;
  border-radius: 10px;
  padding: 2px;
}

.user-picture{
  height: 32px;
  border-radius: 16px;
}